<style>

    td{
        padding: 5px
    }

</style>
<h1>Matriz</h1>
<ul>
    <table>
        {% for i in linhas %}
        <tr>
            {% for j in colunas %}
                <td>                    
                    {{i}} - {{j}}
                    {{object_list.i}}
                </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>                

    {{ qtde }}
    {{ linhas }}
    {{ colunas }}
</ul>

<a href="{% url 'jogo:jogo_new' %}">New</a>